*.pyc
config/.env
data/raw/*
!data/raw/.gitkeep
output/standardized/*
!output/standardized/.gitkeep
output/quality/*
!output/quality/.gitkeep
reports/*
!reports/.gitkeep

# data
data/
output/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Virtual Environments
venv/
ENV/
env/
.venv/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
